/* You don't really have to touch this style.css file. Most of the styling of the canvas is controlled via the sketch.js */

* {
  background-color: black;
}

.header {
  margin-top: 25px;
  box-sizing: border-box;
  font-family:arial;
  font-size: 32px;
  background-color: black;
  color: white;
  text-align:center;
}

.button1 {
  text-align: center;  
  background-color: white;
  color: black;
  font-family:arial;
  font-size: 32px;
}

.demo {
  text-align: center;  
  background-color: white;
  color: white;
  font-family:arial;
  font-size: 32px;
}